nltk
geoip2
git+https://github.com/CloudBotIRC/mcstatus.git@master
cleverwrap
future
microdata
sqlalchemy
watchdog
lxml
beautifulsoup4
feedparser
requests
requests-oauthlib
psutil
tweepy
pyenchant
imgurpython
isodate
dnspython3
yarl
